*{
    box-sizing: border-box;
}

body{
    font-family: "Work Sans";
}

.container {
    display:grid;
    width:100%;
    grid-template-areas:"body"
                        "main";
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    justify-content: center;
    justify-items: center; 
}


main{
    grid-area: main;
    padding:2px 0px;
    height:100%;
    margin: 2px;
    font-family: "Helvetica Neue","Arial","sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

main .loginBox{
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    background-color: #f5f5f5;
    width:250px;
    margin:30px auto 30px;
    padding: 10px 10px;
    border-radius: 4px;
    height: 200px;
}

main form{
    padding-left: 5px;
}

main .formButton{
    display:inline-block;
    background-color: #5cb85c;
    border:1px solid #4cae4c;
    padding:5px 5px 5px 5px;
    margin:5px 0px 5px 6px;
    color:white;
    cursor:pointer;
    border-radius: 4px;
    font-weight: bold;
    width:95%;
    animation-name: buttonColorChangeNoHover;
    animation-duration: 2s;
}

main .formButton:hover{
    border-color: #004E89;
    animation-name: buttonColorChangeHover;
    animation-duration: 2s;
}

