<!DOCTYPE html>
<html>

<header>
    <meta charset="utf-8">
    <title>Receção</title>
    <link rel="stylesheet" type="text/css" href="rececao.css" />
</header>

<body>
    <h1>Dados do Doente</h1>
    
    <div class="container">
        <main>
            <div class = "loginBox">
            <label for='username'>Nome:</label>
            <input type="text" minlength="10" maxlength="100" required id="username" name="username" />
            <p></p>
            <label for='text'>Idade:</label>
            <input type="text" minlength="0" maxlength="150" required id="username" name="username" />
            <label for='text'>Género:</label>
            <select name="Genero">
                <option value="feminino">Feminino</option>
                <option value="masculino">Masculino</option>
            </select>
            <p></p>
            <label for='text'>Morada:</label>
            <input type="text" minlength="0" maxlength="150" required id="username" name="username" />
            <form>
                <button class="formButton">Submeter</button>
            </form>
            </div>
        </main>
        </div>
</body>

</html>