doctype html
header
  meta(charset='utf-8')
  title Rece&ccedil;&atilde;o
  link(rel='stylesheet' type='text/css' href='rececaoFirstPage.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
main
  .searchBox
    form.search(action='')
      input(type='text' placeholder='Introduza o Nº de Utente')
      button(type='submit')
        i.fa.fa-search
  .table
    table#resultTable
      tr
        td Nome
        td Ze manel
