doctype html
head
  meta(charset='utf-8')
  title Triagem
  link(rel='stylesheet' type='text/css' href='./cssTriagem.css')
.container
  main
    script(src='./jquery.min.js')
    .table-responsive
      table#target.table(border='1' align='center')
      script(src='./script.js')
      button.formButton Iniciar Triagem
      
