<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Triagem Doente</title>
    <link rel="stylesheet" type="text/css" href="./TriaDoente.css" />
</head>

<body>
    <div class="container">
        <main>
            <div class="CentralizarBox">
                <form id="form">

                        <label for="text">Estado:</label>
                        <select name="Estado">
                            <option value="verde">Verde</option>
                            <option value="amarelo">Amarelo</option>
                            <option value="vermelho">Vermelho</option>
                        </select>
                        <button class="formButton float-left">Ir para Exames </button>
                    <textarea required id="Obs" name="Obs"></textarea>

                </form>
            </div>
        </main>
    </div>
</body>

</html>