<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Triagem</title>
    <link rel="stylesheet" type="text/css" href="./cssTriagem.css" />
</head>

<body>
    <div class="container">
        <main>
            <div class="table-responsive">
                <table border="1" class="table" align="center">
                    <tr id="start">
                        <td>Numero_Processo</td>
                        <td>Nome</td>
                        <td>Hora</td>
                        <td>Data Entrada</td>
                        <td>Estado</td>
                    </tr>     
                </table>
                <button class="formButton">Iniciar Triagem</button>
            </div>
        </main>
    </div>
</body>

</html>