doctype html
head
  meta(charset='utf-8' name='viewport' content='width=device-width, initial-scale=1')
  title Triagem Doente
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')
.p-5.shadow-lg.container
  ul.py-3.list-group
    li.list-group-item.list-group-item-dark
      strong Informa&ccedil;&otilde;es do Doente:
    li.list-group-item
      strong Numero Utente:
      span  #{Numero_Utente}
    li.list-group-item
      strong Nome:
      span  #{Nome}
    li.list-group-item
      strong Idade:
      span  #{Idade}
    li.list-group-item
      strong Genero:
      span  #{Genero}
  form#form
    .w-50.form-group
      label(for='Estado') Estado:
      select#Estado.form-control(name='Estado')
        option.text-success(value='Verde') Verde
        option.text-warning(value='Amarelo') Amarelo
        option.text-danger(value='Vermelho') Vermelho
    .form-group
      label(for='comment') Observa&ccedil;&otilde;es:
      textarea#Obs.form-control(required='' name='Obs' rows='10')
    .btn-group.d-flex.justify-content-end
      button.p-2.btn.btn-light Ir para Exames 
      button.p-2.btn.btn-success(type='submit') Ir para Consulta 
