doctype html
header
  meta(charset='utf-8' name='viewport' content='width=device-width, initial-scale=1')
  title Administra&ccedil;&atilde;o
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')
  script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
 
  
  script(src='../administracaoFrontPage.js')

main.p-5.shadow-lg.container
  #tabs
    ul.nav.nav-tabs
      li.nav-item
        a#a1.nav-link.active(href='#tab1' data-toggle='tab') Processos
      li.nav-item
        a#a2.nav-link(href='#tab2' data-toggle='tab') Pesquisar Dossiers
      li.nav-item
        a#a3.nav-link(href='#tab3' data-toggle='tab') Pesquisar Processos
      li.nav-item
        a#a4.nav-link(href='#tab4' data-toggle='tab') Entidades
      li.nav-item
        a#a5.nav-link(href='#tab5' data-toggle='tab') Pesquisar Assistente Social
  .tab-content
    #tab1.tab-pane.container.active
    #tab2.tab-pane.container.fade
      .input-group.mb-3.p-2
        input#searchBox2.form-control(type='text' placeholder='Introduza o Numero do Aluno')
        .input-group-append
          button#searchButton2.btn.btn-success(type='submit') Pesquisar
      .collapse2
        ul#list2.py-3.list-group
    #tab3.tab-pane.container.fade
      .input-group.mb-3.p-2
        input#searchBox3.form-control(type='text' placeholder='Introduza o Numero Interno do Processo')
        .input-group-append
          button#searchButton3.btn.btn-success(type='submit') Pesquisar
      .collapse3
        ul#list3.py-3.list-group
        .btn-group#btnG(style="display: none;")
          button#addA.btn.btn-primary(type='button' data-toggle='modal' data-target='#criaAcao') Adicionar A&ccedil;&atilde;o
          button#remA.btn.btn-primary(type='button' disabled='' data-toggle='modal' data-target='#remAcao') Remover A&ccedil;&atilde;o
          button#edtA.btn.btn-primary(type='button' disabled='' data-toggle='modal' data-target='#editaAcao') Editar A&ccedil;&atilde;o  
    #tab4.tab-pane.container.fade
      #table
      .btn-group#btnGE(style="display: none;")
          button#addE.btn.btn-primary(type='button' data-toggle='modal' data-target='#criaEntidade') Criar Entidade
          button#edtE.btn.btn-primary(type='button' disabled='' data-toggle='modal' data-target='#editaEntidade') Editar Entidade
    #tab5.tab-pane.container.fade
        .input-group.mb-3.p-2
            input#searchBox5.form-control(type='text' placeholder='Introduza o Identificador do Assistente Social')
            .input-group-append
                button#searchButton5.btn.btn-success(type='submit') Pesquisar
        .collapse5
            ul#list5.py-3.list-group
  #criaAcao.modal.fade
    .modal-dialog.modal-lg.modal-dialog-centered
      .modal-content
        // Modal Header
        .modal-header
          h4.modal-title Adicionar A&ccedil;&atilde;o
          button.close(type='button' data-dismiss='modal') &times;
        // Modal body
        .modal-body
          form#form(action='/administracao/addAcao' method='POST')
            fieldset
              .form-group
                label(for='num') N&uacute;mero Interno:
                input#num(name='numeroInterno' type='text' readonly='')
              .w-50.form-group
                label(for='tipo') Tipo de A&ccedil;&atilde;o:
                select#tipo.form-control(name='tipo' required='')
                  option(value='reunião') Reuni&atilde;o
                  option(value='pedido') Pedido
                  option(value='encaminhamento') Encaminhamento
                  option(value='expulsão') Expuls&atilde;o
                  option(value='suspensão') Suspens&atilde;o
              .form-group
                label(for='data') Data:
                input#data(name='data' type='date' required='')
              .form-group
                label(for='dcs') Descri&ccedil;&atilde;o:
                textarea#dcs.form-control(required='' name='descricao' rows='2')
        // Modal footer
        .modal-footer
          button.btn.btn-danger(type='submit' form='form') Adicionar
  #remAcao.modal.fade
    .modal-dialog.modal-sm
      .modal-content
        // Modal Header
        .modal-header
          h4.modal-title Remover A&ccedil;&atilde;o
          button.close(type='button' data-dismiss='modal') &times;
        // Modal body
        .modal-body
          p Deseja Remover esta A&ccedil;&atilde;o?
        // Modal footer
        .modal-footer
          button#SimR.btn.btn-danger(type='button') Sim
          button.btn.btn-primary(type='button' data-dismiss='modal') N&atilde;o
  #editaAcao.modal.fade
    .modal-dialog.modal-lg.modal-dialog-centered
      .modal-content
        // Modal Header
        .modal-header
          h4.modal-title Editar A&ccedil;&atilde;o
          button.close(type='button' data-dismiss='modal') &times;
        // Modal body
        .modal-body
          form#formE
            fieldset
              .form-group
                label(for='numE') N&uacute;mero Interno:
                input#numE(name='numeroInterno' type='text' readonly='')
              .w-50.form-group
                label(for='tipoE') Tipo de A&ccedil;&atilde;o:
                select#tipoE.form-control(name='tipo' required='')
                  option(value='reunião') Reuni&atilde;o
                  option(value='pedido') Pedido
                  option(value='encaminhamento') Encaminhamento
                  option(value='expulsão') Expuls&atilde;o
                  option(value='suspensão') Suspens&atilde;o
              .form-group
                label(for='dataE') Data:
                input#dataE(name='data' type='date' required='')
              .form-group
                label(for='dcsE') Descri&ccedil;&atilde;o:
                textarea#dcsE.form-control(required='' name='descricao' rows='2')
        // Modal footer
        .modal-footer
          button#edtButton.btn.btn-danger(type='button') Editar
  #criaEntidade.modal.fade
    .modal-dialog.modal-lg.modal-dialog-centered
      .modal-content
        // Modal Header
        .modal-header
          h4.modal-title Criar Entidade
          button.close(type='button' data-dismiss='modal') &times;
        // Modal body
        .modal-body
          form#formCA(action='/administracao/criarEntidade' method='POST')
            fieldset
              .form-group
                label(for='idE') Identificador Unico:
                input#idE(name='id' type='text' readonly='')
              .form-group  
                label(for='contacto') Contacto:
                input#contacto(type='number' minlength='1' maxlength='9' required='' name='contactoE')
              .form-group
                label(for='nome') Nome:
                abbr(title='Tem de ter entre 1 a 500 caracteres')
                input#nome(type='text' minlength='1' maxlength='500' required='' name='nome') 
        // Modal footer
        .modal-footer
          button.btn.btn-danger(type='submit' form='formCA') Criar
  #editaEntidade.modal.fade
    .modal-dialog.modal-lg.modal-dialog-centered
      .modal-content
        // Modal Header
        .modal-header
          h4.modal-title Editar Entidade
          button.close(type='button' data-dismiss='modal') &times;
        // Modal body
        .modal-body
          form#formEA(action='/administracao/editarEntidade' method='POST')
            fieldset
              .form-group
                label(for='idEd') Identificador Unico:
                input#idEd(name='id' type='text' readonly='')
              .form-group  
                label(for='contacto') Contacto:
                input#contactoEd(type='number' minlength='1' maxlength='9' required='' name='contactoE')
              .form-group
                label(for='nome') Nome:
                abbr(title='Tem de ter entre 1 a 500 caracteres')
                input#nomeEd(type='text' minlength='1' maxlength='500' required='' name='nome') 
        // Modal footer
        .modal-footer
          button.btn.btn-danger(type='submit' form='formEA') Editar