doctype html
header
  meta(charset='utf-8' name='viewport' content='width=device-width, initial-scale=1')
  title Administra&ccedil;&atilde;o
  link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css')
  link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.css')
  link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/responsive/2.2.2/css/responsive.bootstrap4.css')
  script(type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js')
  script(type='text/javascript' src='https://cdn.datatables.net/1.10.18/js/jquery.dataTables.js')
  script(type='text/javascript' src='https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.js')
  script(type='text/javascript' src='https://cdn.datatables.net/responsive/2.2.2/js/dataTables.responsive.js')
  script(type='text/javascript' src='https://cdn.datatables.net/select/1.2.6/js/dataTables.select.js')


  script(src='../administracaoFrontPage_pesquisarDossiers.js')
  script(src='../administracaoFrontPage_processosEspera.js')
  script(src='../administracaoFrontPage_processos.js')
  script(src='../administracaoFrontPage_pesquisarAssistenteSocial.js')
  script(src='../administracaoFrontPage_pesquisarProcessos.js')
  script(src='../administracaoFrontPage_entidades.js')
  

main.p-5.shadow-lg.container
  #head.d-flex.flex-row.justify-content-between
    .logo
      img(src='../1.png' alt='logoImg' style="width:270px;")
    .user.pb-2
      img.rounded-circle(src='../user.png' alt='userImg' style="width:70px;")
      p
        span#idUser Id: #{id}
      p
        span Departamento: #{departamento}
      form(action='/logOut' method='POST')
        button#criarU.btn.btn-primary(type='button' data-toggle='modal' data-target='#criaUtilizador') Criar Utilizador
        button#termi.btn.btn-primary(type='submit') Terminar sessao

    
  #tabs.row
    ul.nav.nav-tabs.mb-4
      li.nav-item
        a#a1.nav-link.active(href='#tab1' data-toggle='tab') Processos
      li.nav-item
        a#a2.nav-link(href='#tab2' data-toggle='tab') Pesquisar Dossiers
      li.nav-item
        a#a3.nav-link(href='#tab3' data-toggle='tab') Pesquisar Processos
      li.nav-item
        a#a4.nav-link(href='#tab4' data-toggle='tab') Entidades
      li.nav-item
        a#a5.nav-link(href='#tab5' data-toggle='tab') Pesquisar Assistente Social
      li.nav-item
        a#a6.nav-link(href='#tab6' data-toggle='tab') Processos em Espera
          span#notification.badge.badge-danger
  .tab-content
    #tab1.tab-pane.container.active
      table#table1.table.table-striped.table-hover.table-responsive.text-right
        thead.thead-dark
          tr
            th Numero Interno
            th Numero Aluno
            th Estado
            th Assistente Social
            th Ano Letivo
            th Data de Registo 
            th Entidade
            th Tipo de Problema
    #tab2.tab-pane.container.fade
      .input-group.mb-3.p-2
        input#searchBox2.form-control(type='text' placeholder='Introduza o Numero do Aluno')
        .input-group-append
          button#searchButton2.btn.btn-success(type='submit') Pesquisar
      .collapse2
        ul#list2.py-3.list-group
    #tab3.tab-pane.container.fade
      .input-group.mb-3.p-2
        input#searchBox3.form-control(type='text' placeholder='Introduza o Numero Interno do Processo')
        .input-group-append
          button#searchButton3.btn.btn-success(type='submit') Pesquisar
      .collapse3
        ul#list3.py-3.list-group
        .btn-group#btnG(style="display: none;")
          button#addA.btn.btn-primary(type='button' data-toggle='modal' data-target='#criaAcao') Adicionar A&ccedil;&atilde;o
          button#remA.btn.btn-primary(type='button' disabled='' data-toggle='modal' data-target='#remAcao') Remover A&ccedil;&atilde;o
          button#edtA.btn.btn-primary(type='button' disabled='' data-toggle='modal' data-target='#editaAcao') Editar A&ccedil;&atilde;o  
          button#tp.btn.btn-primary(type='button' data-toggle='modal' data-target='#terminarProcesso') Terminar Processo
    #tab4.tab-pane.container.fade
      table#table4.table.table-striped.table-hover.table-responsive.text-right
        thead.thead-dark
          tr
            th Identificador
            th Nome
            th Contacto
      .btn-group#btnGE(style="display: none;")
          button#addE.btn.btn-primary(type='button' data-toggle='modal' data-target='#criaEntidade') Criar Entidade
          button#edtE.btn.btn-primary(type='button' disabled='' data-toggle='modal' data-target='#editaEntidade') Editar Entidade
    #tab5.tab-pane.container.fade
        .input-group.mb-3.p-2
            input#searchBox5.form-control(type='text' placeholder='Introduza o Identificador do Assistente Social')
            .input-group-append
                button#searchButton5.btn.btn-success(type='submit') Pesquisar
        .collapse5
            ul#list5.py-3.list-group
    #tab6.tab-pane.container.fade
        .input-group.mb-3.p-2.w-50
          input#tempo.form-control(type='Number' placeholder='Tempo Maximo de Espera (DIAS)' readonly='')
          .input-group-append
            button#edtTempo.btn.btn-success(type='button') Editar
            button#saveTempo.btn.btn-success(type='button' disabled='') Guardar
        #tableTempo
  #criaAcao.modal.fade
    .modal-dialog.modal-lg.modal-dialog-centered
      .modal-content
        // Modal Header
        .modal-header
          h4.modal-title Adicionar A&ccedil;&atilde;o
          button.close(type='button' data-dismiss='modal') &times;
        // Modal body
        .modal-body
          form#form(action='/administracao/addAcao' method='POST')
            fieldset
              .form-group
                label(for='num') N&uacute;mero Interno:
                input#num(name='numeroInterno' type='text' readonly='')
              .w-50.form-group
                label(for='tipo') Tipo de A&ccedil;&atilde;o:
                select#tipo.form-control(name='tipo' required='')
                  option(value='reunião') Reuni&atilde;o
                  option(value='pedido') Pedido
                  option(value='encaminhamento') Encaminhamento
                  option(value='expulsão') Expuls&atilde;o
                  option(value='suspensão') Suspens&atilde;o
              .form-group
                label(for='data') Data:
                input#data(name='data' type='date' required='')
              .form-group
                label(for='dcs') Descri&ccedil;&atilde;o:
                textarea#dcs.form-control(required='' name='descricao' rows='2')
        // Modal footer
        .modal-footer
          button.btn.btn-danger(type='submit' form='form') Adicionar
  #remAcao.modal.fade
    .modal-dialog.modal-sm
      .modal-content
        // Modal Header
        .modal-header
          h4.modal-title Remover A&ccedil;&atilde;o
          button.close(type='button' data-dismiss='modal') &times;
        // Modal body
        .modal-body
          p Deseja Remover esta A&ccedil;&atilde;o?
        // Modal footer
        .modal-footer
          button#SimR.btn.btn-danger(type='button') Sim
          button.btn.btn-primary(type='button' data-dismiss='modal') N&atilde;o
  #editaAcao.modal.fade
    .modal-dialog.modal-lg.modal-dialog-centered
      .modal-content
        // Modal Header
        .modal-header
          h4.modal-title Editar A&ccedil;&atilde;o
          button.close(type='button' data-dismiss='modal') &times;
        // Modal body
        .modal-body
          form#formE
            fieldset
              .form-group
                label(for='numE') N&uacute;mero Interno:
                input#numE(name='numeroInterno' type='text' readonly='')
              .w-50.form-group
                label(for='tipoE') Tipo de A&ccedil;&atilde;o:
                select#tipoE.form-control(name='tipo' required='')
                  option(value='reunião') Reuni&atilde;o
                  option(value='pedido') Pedido
                  option(value='encaminhamento') Encaminhamento
                  option(value='expulsão') Expuls&atilde;o
                  option(value='suspensão') Suspens&atilde;o
              .form-group
                label(for='dataE') Data:
                input#dataE(name='data' type='date' required='')
              .form-group
                label(for='dcsE') Descri&ccedil;&atilde;o:
                textarea#dcsE.form-control(required='' name='descricao' rows='2')
        // Modal footer
        .modal-footer
          button#edtButton.btn.btn-danger(type='button') Editar
  #criaEntidade.modal.fade
    .modal-dialog.modal-lg.modal-dialog-centered
      .modal-content
        // Modal Header
        .modal-header
          h4.modal-title Criar Entidade
          button.close(type='button' data-dismiss='modal') &times;
        // Modal body
        .modal-body
          form#formCA(action='/administracao/criarEntidade' method='POST')
            fieldset
              .form-group
                label(for='idE') Identificador Unico:
                input#idE(name='id' type='text' readonly='')
              .form-group  
                label(for='contacto') Contacto:
                input#contacto(type='number' minlength='1' maxlength='9' required='' name='contactoE')
              .form-group
                label(for='nome') Nome:
                abbr(title='Tem de ter entre 1 a 500 caracteres')
                input#nome(type='text' minlength='1' maxlength='500' required='' name='nome') 
        // Modal footer
        .modal-footer
          button.btn.btn-danger(type='submit' form='formCA') Criar
  #editaEntidade.modal.fade
    .modal-dialog.modal-lg.modal-dialog-centered
      .modal-content
        // Modal Header
        .modal-header
          h4.modal-title Editar Entidade
          button.close(type='button' data-dismiss='modal') &times;
        // Modal body
        .modal-body
          form#formEA(action='/administracao/editarEntidade' method='POST')
            fieldset
              .form-group
                label(for='idEd') Identificador Unico:
                input#idEd(name='id' type='text' readonly='')
              .form-group  
                label(for='contacto') Contacto:
                input#contactoEd(type='number' minlength='1' maxlength='9' required='' name='contactoE')
              .form-group
                label(for='nome') Nome:
                abbr(title='Tem de ter entre 1 a 500 caracteres')
                input#nomeEd(type='text' minlength='1' maxlength='500' required='' name='nome') 
        // Modal footer
        .modal-footer
          button.btn.btn-danger(type='submit' form='formEA') Editar
  #terminarProcesso.modal.fade
    .modal-dialog.modal-sm
      .modal-content
        // Modal Header
        .modal-header
          h4.modal-title Terminar Processo
          button.close(type='button' data-dismiss='modal') &times;
        // Modal body
        .modal-body
          p Deseja terminar o processo?
        // Modal footer
        .modal-footer
          button#SimT.btn.btn-danger(type='button') Sim
          button.btn.btn-primary(type='button' data-dismiss='modal') N&atilde;o
  #criaUtilizador.modal.fade
    .modal-dialog.modal-lg.modal-dialog-centered
      .modal-content
        // Modal Header
        .modal-header
          h4.modal-title Criar Utilizador
          button.close(type='button' data-dismiss='modal') &times;
        // Modal body
        .modal-body
          form#formU(action='../signUp' method='POST')
            fieldset
              .form-group
                label(for='idUt') Id:
                input#idUt(name='id' type='text' readonly='')
              .w-50.form-group
                label(for='dep') Departamento:
                select#tipo.form-control(name='departamento')
                  option(value='administracao') Administra&ccedil;&atilde;o
                  option(value='assistenteSocial') Assistente Social
              .form-group
                label(for='pass') Password:
                input#pass(name='password' type='password' required='' pattern='(?=.*[a-z])(?=.*[A-Z]).{8,}' title='Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters')
        // Modal footer
        .modal-footer
          button.btn.btn-danger(type='submit' form='formU') Criar Utilizador