doctype html
head
  title Dossier
  meta(charset='utf-8' name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')
  script(src='../criarDossier.js')
.p-5.shadow-lg.container(align='center')
  main
    .criarDossier
      form(action='criarDossier' method='POST')
        fieldset
          .page-header.font-weight-bold
            legend
              | Criar Dossier
              abbr(title='Mandatory fields')
          .form-group.text-left.font-weight-bold
            label(for='nome')
              | Nome:
              abbr(title='Tem de ter entre 1 a 500 caracteres')
            input#nome.form-control(type='text' minlength='1' maxlength='500' required='' name='nomeAluno')
          .form-group.text-left.font-weight-bold
            label(for='numero')
              | N&uacute;mero Aluno:
              abbr(title='Value between 1 and 9')
            input#numero.form-control(type='number' minlength='1' maxlength='9' required='' name='numeroAluno')
          .form-group.text-left.font-weight-bold
            label(for='ano')
              | Ano Letivo:
            input#ano.form-control(type='text' minlenght='9' maxlength='9' required='' name='anoLetivo' pattern='(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))' title='Formato: AAAA-AAAA')
          .form-group.text-left.font-weight-bold
            label(for='data')
              | Data de Nascimento:
            input#data.form-control(type='date' required='' name='dataNascimento')
          .form-group.text-left.font-weight-bold
            label(for='contacto')
              | Contacto:
            input#contacto.form-control(type='number' minlength='1' maxlength='9' required='' name='contacto')
          button.btn.btn-info-ligth(type='button' data-toggle='collapse' data-target='#demo') Criar Processo
          #demo.collapse
            .criarProcesso
            form(action='assistenteSocial/criarDossier' method='POST')
              fieldset
                .form-group.text-left.font-weight-bold
                  label(for='pwd') Assistente Social:
                  input#nom.form-control(name='assistenteSocial' type='text' required='' readonly=''  value = id)
                .form-group.text-left.font-weight-bold
                  label(for='pwd') N&uacute;mero Interno:
                  input#num.form-control(name='numeroInterno' type='number' required='' readonly='')
                .form-group.text-left.font-weight-bold
                  label(for='comment') Observa&ccedil;&otilde;es:
                  textarea#Obs.form-control(required='' name='observacoes' rows='5')
                .form-group.text-left.font-weight-bold
                  label(for='comment') Descri&ccedil;&atilde;o do Problema:
                  textarea#dcs.form-control(required='' name='descricao' rows='2')
                .form-group.text-left.font-weight-bold
                  label(for='tipo') Tipo de Problema:
                  select#tipo.form-control(name='tipo')
                    option(value='absentismo') Absentismo
                    option(value='indisciplina') Indisciplina
                    option(value='consumoDrogas') Consumo de Drogas
                .form-group.text-left.font-weight-bold
                  label(for='entidade') Entidade:
                  select#entidade.form-control(name='id')
                .form-group.text-left.font-weight-bold
                  label(for='pwd') Data:
                  input#data.form-control(name='data' type='date' required='')
                .btn-group.d-flex.justify-content-end
                  button.p-2.btn.btn-success(type='submit') Criar
