<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Criar Processo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>


<body>
    <div class="p-5 shadow-lg container">
        <main>
            <div class="criarProcesso"></div>
            <form action="/assistenteSocial/addProcesso" method="POST">
                <fieldset>
                    <div class="titulo" align="center">
                        <legend>
                            <h1>CRIAR PROCESSO</h1>
                            <abbr title="Mandatory fields"></abbr>
                        </legend>
                    </div>
                    <div class="form-group">
                        <label for="usr">Número Aluno:</label>
                        <input name="numeroAluno" type="number" id="usr" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Assistente Social:</label>
                        <input name="assistenteSocial" type="text" id="nom" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Número Interno:</label>
                        <input name="numeroInterno" type="number" id="num" required>
                    </div>
                    <div class="form-group">
                        <label for="comment">Observações:</label>
                        <textarea required id="Obs" name="observacoes" class="form-control" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="comment">Descrição do Problema:</label>
                        <textarea required id="dcs" name="descricao" class="form-control" rows="2"></textarea>
                    </div>
                    <div class="w-50 form-group">
                        <label for="tipo">Tipo:</label>
                        <select class=" form-control" name="tipo" id="tipo">
                            <option value="aberto">Aberto</option>
                            <option value="acompanhamento">Em acompanhamento</option>
                            <option value="encerrado">Encerrado</option>
                        </select>
                    </div>
                    <div class="w-50 form-group">
                        <label for="entidade">Entidade:</label>
                        <select class=" form-control" name="id" id="entidade">
                            <option value="um">1</option>
                            <option value="dois">2</option>
                        </select>
                    </div>
                    <div class="form-group">
                         <label for="pwd">Data:</label>
                        <input name="data" type="date" id="data" required>
                    </div>
                    <div class="btn-group d-flex justify-content-end">
                        <button type="submit" class="p-2 btn btn-success ">Submeter</button>
                    </div>

    </div>
    </fieldset>
    </form>
    </div>
    </main>
    </div>

</body>